.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #EFF5D2;
}

.auth-card {
  background-color: #C6D870;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 300px;
}

.auth-container h2 {
  text-align: center;
  color: #556B2F;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input, .auth-container select {
  padding: 0.5rem;
  border: 1px solid #8FA31E;
  border-radius: 8px;
}

button {
  background-color: #556B2F;
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.switch-link {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  color: #8FA31E;
}
